/* Title form */
.form__title {
  margin-bottom: 2rem;
}

/* Form */
.form {
  border: 1px solid var(--background);
  border-radius: 0.6%;
  box-shadow: 0px 11px 9px -4px var(--form-shadow);
  -moz-box-shadow: 0px 11px 9px -4px var(--form-shadow);
  padding: 2.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37.5rem;
  -webkit-box-shadow: 0px 11px 9px -4px var(--form-shadow);
}

@media (min-width: 768px) {
  .form {
    width: 75.5rem;
  }
}

/* Credits: https://codepen.io/Snip3r/pen/rdwQgM */
.form::before {
  background-image: linear-gradient(var(--form-shadow-gradient-start), var(--form-shadow-gradient-end));
  background-position: 50%;
  content: '';
  filter: blur(8px);
  height: calc(100% + 16px); /* 100% + blur * 2 */
  left: -8px; /* -blur */
  position: absolute;
  top: -8px; /* -blur */
  width: calc(100% + 16px); /* 100% + blur * 2 */
  z-index: -1;
}

.form__form {
  align-items: center;
  display: grid;
  gap: 2.5rem;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .form__form {
    display: flex;
  }
}

.field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 17rem;
}

/* Credits: https://stackoverflow.com/questions/14618028/remove-borders-around-html-input */
.field__field {
  border: none;
  border-width: 0px;
  grid-row: 2 / 3;
  margin-left: 4.5rem;
  width: 12rem;
}

.field__field::placeholder {
  color: var(--title);
  font-weight: 700;
}

.submit {
  align-items: center;
  background-color: var(--btn-selected-bg);
  border: none;
  border-radius: 3%;
  box-shadow: 0px 11px 9px -4 px var(--icon-blue-shadow);
  color: var(--btn-selected-text);
  cursor: pointer;
  display: flex;
  height: 6rem;
  justify-content: center;
  -moz-box-shadow: 0px 11px 9px -4px var(--icon-blue-shadow);
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 11px 9px -4px var(--icon-blue-shadow);
}
