/* Header */
.header {
  position: relative;
}

/* Credits: https://stackoverflow.com/questions/21177314/background-color-50-one-color-and-50-another-color */
.header:after,
.header:before {
  content: ' ';
  height: 100%;
  position: absolute;
  width: 50%;
  z-index: -1;
}

.header:after {
  background: transparent;
  left: 0px;
}

.header:before {
  background: var(--header);
  filter: blur(0.4rem);
  right: 0px;
}

.header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1140px) {
  .header-content {
    justify-content: space-between;
    margin: 0 11rem;
  }
}

@media (min-width: 1400px) {
  .header-content {
    margin: 0 25rem;
  }
}

@media (min-width: 1420px) {
  .header-content {
    flex-direction: row;
  }
}

/* Header title */
.title {
  color: var(--headerTitle);
  font-size: 3.5rem;
}

/* Header navigation */
.header__navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 726px) {
  .header__navigation {
    flex-direction: row;
  }
}

.header__link {
  font-weight: 600;
  padding: 1.2rem 3rem;
}

.header__link:hover {
  background-color: var(--btn-selected-bg);
  border-radius: 5%;
  box-shadow: 0px 11px 9px -4px var(--btn-selected-shadow);
  color: var(--btn-selected-text);
  -moz-box-shadow: 0px 11px 9px -4px var(--btn-selected-shadow);
  -webkit-box-shadow: 0px 11px 9px -4px var(--btn-selected-shadow);
}
