/* Schedule */
.schedule {
  display: grid;
  grid-template-columns: 42rem;
}

@media (min-width: 768px) {
  .schedule {
    grid-template-columns: none;
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (min-width: 1400px) {
  .schedule {
    display: flex;
    flex-direction: column;
    margin: 0 25rem;
    width: 46rem;
  }
}

/* Title */
.schedule__title {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  margin: 4rem 0 0 0;
}

@media (min-width: 768px) {
  .schedule__title {
    font-size: 6rem;
    margin: 6rem 0 0 0;
  }
}

@media (min-width: 1400px) {
  .schedule__title {
    font-size: 7rem;
    margin: 3rem 0 0 0;
  }
}

/* Paragraph */
.schedule__paragraph {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  margin: 1.5rem 0 3.5rem 0;
  width: 100%;
}

@media (min-width: 480px) {
  .schedule__paragraph {
    margin: 3.5rem 0;
    width: 35rem;
  }
}

@media (min-width: 768px) {
  .schedule__paragraph {
    margin: 3.5rem 0 6.5rem 0;
    width: 70rem;
  }
}

@media (min-width: 1400px) {
  .schedule__paragraph {
    font-size: 1.7rem;
    margin: 3.5rem 0 6.5rem 0;
    width: 42.5rem;
  }
}

/* Pros */
.schedule__pros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4.5rem;
}

/* Image */
.img-nurse {
  border-radius: 0.2%;
  max-width: 50%;
}

@media (min-width: 1400px) {
  .img-nurse {
    max-width: 100%;
  }
}
