.sub-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.sub-card__icon {
  align-items: center;
  border: 2px solid var(--border-white);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

.sub-card--yellow {
  background-color: var(--icon-yellow-bg);
  box-shadow: 0px 11px 9px -4px var(--icon-yellow-shadow);
  -moz-box-shadow: 0px 11px 9px -4px var(--icon-yellow-shadow);
  -webkit-box-shadow: 0px 11px 9px -4px var(--icon-yellow-shadow);
}

/* Credits: 
https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
https://codepen.io/sosuke/pen/Pjoqqp
*/
.sub-card--icon-yellow {
  filter: invert(69%) sepia(92%) saturate(415%) hue-rotate(359deg) brightness(101%) contrast(106%);
}

.sub-card--blue {
  background-color: var(--icon-blue-bg);
  box-shadow: 0px 11px 9px -4px var(--icon-blue-shadow);
  -moz-box-shadow: 0px 11px 9px -4px var(--icon-blue-shadow);
  -webkit-box-shadow: 0px 11px 9px -4px var(--icon-blue-shadow);
}

.sub-card--icon-blue {
  filter: invert(21%) sepia(92%) saturate(3955%) hue-rotate(230deg) brightness(84%) contrast(85%);
}

.sub-card--no-details {
  border: none;
  box-shadow: none;
}

.sub-card__text {
  color: var(--title);
}

.sub-card--big {
  font-size: 1.8rem;
  font-weight: 700;
}

.sub-card--normal {
  color: var(--text);
}
