:root {
  --background: hsl(0, 0%, 100%);
  --header: hsl(202, 79%, 95%);
  --footer: hsl(222, 100%, 97%);

  /* Titles */
  --headerTitle: hsl(228, 66%, 53%);
  --title: hsl(218, 57%, 28%);
  --text: hsl(218, 15%, 50%);

  /* Buttons */
  --btn-selected-text: hsl(0, 0%, 98%);
  --btn-selected-bg: hsl(228, 67%, 46%);
  --btn-selected-shadow: hsl(225, 60%, 80%);

  --btn-text: hsl(228, 66%, 64%);
  --btn-bg: hsl(223, 100%, 97%);

  /* Icons */
  --icon-yellow: hsl(48, 100%, 54%);
  --icon-yellow-bg: hsl(48, 100%, 94%);
  --icon-yellow-shadow: hsl(48, 100%, 93%);

  --icon-blue: hsl(228, 64%, 48%);
  --icon-blue-bg: hsl(223, 100%, 97%);
  --icon-blue-shadow: hsl(228, 100%, 93%);

  /* Borders */
  --border-white: hsl(0, 0%, 100%);
  --border-blue: hsl(240, 100%, 99%);
}
