.container {
  padding: 0 0.5rem;
  max-width: 100%;
  margin: 0 auto 0.6rem;
}

/* For sections: */
.section-info {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.section-img {
  display: inline-block;
  text-align: center;
}

@media (min-width: 1700px) {
  .two-columns {
    display: flex;
    justify-content: space-between;
  }

  .section-info,
  .section-img {
    flex-basis: calc(51% - 1rem);
  }

  .section-info {
    justify-content: start;
  }
}
