h1,
h2,
h3 {
  font-family: var(--font-roboto);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a,
p {
  color: var(--text);
}

p {
  margin: 0;
}
